<!-- <pp-spinner *ngIf="showSpinner" size="medium"></pp-spinner> -->
<div class="input-container">
    <label>Project Name</label>
    <input type="text" [(ngModel)]="project.projectName">
</div>
<div class="input-container">
    <label>Project Manager</label>
    <select (change)="selectEmployeeItem($event.target.value)">
        <option value="0">--Select Manager--</option>
        <option *ngFor="let c of projectManagers" value={{c.id}} [selected]="c.id==project.projectManagerId">
            {{c.name}}
        </option>
    </select>
</div>
<div class="input-container">
    <label>Client Name</label>
    <select (change)="selectClientItem($event.target.value)">
        <option value="0">--Select Client--</option>
        <option *ngFor="let cl of clients" value={{cl.id}} [selected]="cl.id==project.clientId">
            {{cl.name}}
        </option>
    </select>

</div>

<div class="input-container">
    <label>Start Date</label>
    <input type="date" [ngModel]="project.startDate |date: 'yyyy-MM-dd'" (ngModelChange)="project.startDate = $event">
</div>
<div class="input-container">
    <label>Comments</label>
    <textarea id="comment" [(ngModel)]="project.comments"></textarea>
</div>
<div class="input-container">
    <label>Primary Skills</label>
    <div class="angular2-multiselect">
        <angular2-multiselect [data]="primarySkillsArray" [ngModel]="PrimarySkills" (ngModelChange)= "selectedPrimarySkills = $event"
        (onSelect)="onItemSelect($event, 1)" 
        (onDeSelect)="OnItemDeSelect($event, 1)"
        (onSelectAll)="onSelectAll($event, 1)"
        (onDeSelectAll)="onDeSelectAll($event, 1)">
        </angular2-multiselect>
    </div>
</div>
<div class="input-container">
    <label>Secondary Skills</label>
    <div class="angular2-multiselect">
        <angular2-multiselect [data]="secondarySkillsArray" [(ngModel)]="selectedSecondarySkills"
        (onSelect)="onItemSelect($event, 2)" 
        (onDeSelect)="OnItemDeSelect($event, 2)"
        (onSelectAll)="onSelectAll($event, 2)"
        (onDeSelectAll)="onDeSelectAll($event, 2)">
        </angular2-multiselect>
    </div>
</div>