<etm-spinner [showSpinner]="showSpinner"></etm-spinner>
<div class="template" *ngIf="!showSpinner">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Exit Clearance Form </h2>
      <ol class="breadcrumb">
        <li (click)="SaveExitClearance()"><i class="fa fa-floppy-o"></i> Save</li>
        <li class="active" (click)="cancel()"><i class="fa fa-undo"></i> Cancel</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="column" style="padding-bottom: 20px">
      <div class="input-container">
        <label>Employee Id</label>
        <input type="text" [(ngModel)]="empid">
        <button (click)="getDetails()">search</button>
      </div>
    </div>
  </div>
  <div class="row" style="border-style: solid;border-width: 1px; margin-right: 10px;margin-left: 10px">
    <div>
      <div class="column" style="margin-bottom: 20px">
        <div class="input-container">
          <label>Name</label>
          <label>{{employee.Name}}</label>
        </div>
        <div class="input-container">
          <label>Designation</label>
          <label>{{employee.Designation}}</label>
        </div>
        <div class="input-container">
          <label>Department / Team </label>
          <label>{{employee.TeamName}}</label>
        </div>
        <div class="input-container">
          <label>Date of Resignation</label>
          <input type="text" >
        </div>
        <div class="input-container">
          <label>Alternate Contact <br>No.</label>
          <input type="text" [(ngModel)]="exitClear.AlternateContact">
        </div>
        <div class="input-container">
          <label>Alternate Email Id</label>
          <input type="text" [(ngModel)]="exitClear.AlternateEmail">
        </div>

      </div>
      <div class="column">
        <div class="input-container">
          <label>Reporting Manager</label>
          <input type="text" >
        </div>
        <div class="input-container">
          <label> Date of Joining</label>
          <label>{{employee.DateOfJoin | date: 'dd/MM/yyyy'}}</label>
        </div>
        <div class="input-container">
          <label>Relieving Date</label>
          <input type="date" [(ngModel)]="exitClear.RelievingDate">
        </div>
        <div class="input-container">
          <label>Correspondence<br> Address
          </label>
          <input type="text" [(ngModel)]="exitClear.CorrespondenceAddress">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="border-style: solid;border-width: 1px; margin-right: 10px;margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
    <div>
      <div class="column" style="margin-bottom: 20px">
        <div class="input-container" style="align-items: center; justify-content: center">
          <h4>Operations</h4>
        </div>
        <div class="input-container">
          <label>Knowledge transfer to</label>
          <input type="text" [(ngModel)]="exitClear.KnowledgeTransferTo">
        </div>
        <div class="input-container">
          <div>
            <label>Mail to be redirected to</label>
            <input type="email" [(ngModel)]="exitClear.RedirectMailTo">
          </div>
        </div>
        <div class="input-container">
          <label>project clearance</label>
          <div>
            <input type="radio" name="projectclear" [(ngModel)]="exitClear.ProjClear" value="1">Yes
            <input type="radio" name="projectclear" [(ngModel)]="exitClear.ProjClear" value="2">No
          </div>
        </div>
        <div class="input-container">
          <label>Passwords for any<br> Files / Reports</label>
          <div>
            <input type="radio" name="projectclea" [(ngModel)]="exitClear.PswrdFileReport" value="1">Yes
            <input type="radio" name="projectclea" [(ngModel)]="exitClear.PswrdFileReport" value="2">No
            <input type="radio" name="projectclea" [(ngModel)]="exitClear.PswrdFileReport" value="3">N/A
          </div>
        </div>
        <div class="input-container">
          <label>Any observations</label>
          <textarea [(ngModel)]="exitClear.Obervations"></textarea>
        </div>
        <div class="input-container">
          <label>Reporting manager</label>
          <input type="text" [(ngModel)]="exitClear.ReportingMngr">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="border-style: solid;border-width: 1px; margin-right: 10px;margin-left: 10px; margin-top: 10px">
    <div>
      <div class="column" style="margin-bottom: 20px">
        <div class="input-container" style="align-items: center; justify-content: center">
          <h4>Department IT</h4>
        </div>
        <div class="input-container">
          <div>
            <label>Email ID Deleted/Password<br> Changed</label>
            <input type="radio" name="projectcle" [(ngModel)]="exitClear.EmailDeleted" value="1">Yes
            <input type="radio" name="projectcle" [(ngModel)]="exitClear.EmailDeleted" value="2">No
          </div>
        </div>
        <div class="input-container">

          <div>
            <label>Data backup taken</label>
            <input type="radio" name="backup" [(ngModel)]="exitClear.isBackupTaken" value="1">Yes
            <input type="radio" name="backup" [(ngModel)]="exitClear.isBackupTaken" value="2">No
          </div>
        </div>
        <div class="input-container">
          <label>Mails redirected to </label>
          <input type="text" [(ngModel)]="exitClear.MailRedirectedTo">
        </div>
        <div class="input-container">
          <div>
            <label>Company Assets Received </label>
            <div style="margin-left: 20px">
              <label>Laptop </label>
              <input type="radio" name="Laptop" [(ngModel)]="exitClear.LaptopRecieved" value="1">Yes
              <input type="radio" name="Laptop" [(ngModel)]="exitClear.LaptopRecieved" value="2">No
              <input type="radio" name="Laptop" [(ngModel)]="exitClear.LaptopRecieved" value="3">N/A
            </div>
            <div style="margin-left: 20px">
              <label>Mouse </label>
              <input type="radio" name="Mouse" [(ngModel)]="exitClear.MouseRecieved" value="1">Yes
              <input type="radio" name="Mouse" [(ngModel)]="exitClear.MouseRecieved" value="2">No
              <input type="radio" name="Mouse" [(ngModel)]="exitClear.MouseRecieved" value="3">N/A
            </div>
            <div style="margin-left: 20px">
              <label>Charger </label>
              <input type="radio" name="charger" [(ngModel)]="exitClear.ChargerRecieved" value="1">Yes
              <input type="radio" name="charger" [(ngModel)]="exitClear.ChargerRecieved" value="2">No
              <input type="radio" name="charger" [(ngModel)]="exitClear.ChargerRecieved" value="3">N/A
            </div>
            <div style="margin-left: 20px">
              <label>HeadPhone</label>
              <input type="radio" name="HeadPhone" [(ngModel)]="exitClear.HeadphoneRecieved" value="1">Yes
              <input type="radio" name="HeadPhone" [(ngModel)]="exitClear.HeadphoneRecieved" value="2">No
              <input type="radio" name="HeadPhone" [(ngModel)]="exitClear.HeadphoneRecieved" value="3">N/A
            </div>
          </div>
        </div>
        <div class="input-container">

          <div>
            <label>PC (Desktop) check </label>
            <input type="radio" name="PC" [(ngModel)]="exitClear.isPcChecked" value="1">Yes
            <input type="radio" name="PC" [(ngModel)]="exitClear.isPcChecked" value="2">No
            <input type="radio" name="PC" [(ngModel)]="exitClear.isPcChecked" value="3">N/A
          </div>
        </div>
        <div class="input-container">
          <label> Any Observations </label>
          <textarea [(ngModel)]="exitClear.ItObservations"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="border-style: solid;border-width: 1px; margin-right: 10px;margin-left: 10px; margin-top: 10px">
    <div>
      <div class="column">
        <div class="input-container" style="align-items: center; justify-content: center">
          <h4>Department - HR & Admin</h4>
        </div>
        <div class="input-container">

          <div>
            <label>Any books issued </label>
            <input type="radio" name="books" [(ngModel)]="exitClear.isBookIssued" value="1">Yes
            <input type="radio" name="books" [(ngModel)]="exitClear.isBookIssued" value="2">No
            <input type="radio" name="books" [(ngModel)]="exitClear.isBookIssued" value="3">N/A
          </div>
        </div>
        <div class="input-container">

          <div>
            <label>Any returnable Stationary</label>
            <input type="radio" name="returnable" [(ngModel)]="exitClear.isStationaryRecieved" value="1">Yes
            <input type="radio" name="returnable" [(ngModel)]="exitClear.isStationaryRecieved" value="2">No
            <input type="radio" name="returnable" [(ngModel)]="exitClear.isStationaryRecieved" value="3">N/A
          </div>
        </div>
        <div class="input-container">

          <div>
            <label>ID / Access Card </label>
            <input type="radio" name="Access" [(ngModel)]="exitClear.isIdCardRecieved" value="1">Yes
            <input type="radio" name="Access" [(ngModel)]="exitClear.isIdCardRecieved" value="2">No
            <input type="radio" name="Access" [(ngModel)]="exitClear.isIdCardRecieved" value="3">N/A
          </div>
        </div>
        <div class="input-container">
          <label>Cupboard Keys </label>
          <div>
            <input type="radio" name="Cupboard" [(ngModel)]="exitClear.isCupboardKeysRecieved" value="1">Yes
            <input type="radio" name="Cupboard" [(ngModel)]="exitClear.isCupboardKeysRecieved" value="2">No
            <input type="radio" name="Cupboard" [(ngModel)]="exitClear.isCupboardKeysRecieved" value="3">N/A
          </div>
        </div>
        <div class="input-container">
          <label>Business Card </label>
          <div>
            <input type="radio" name="Business" [(ngModel)]="exitClear.isBuisnessCardRecieved" value="1">Yes
            <input type="radio" name="Business" [(ngModel)]="exitClear.isBuisnessCardRecieved" value="2">No
            <input type="radio" name="Business" [(ngModel)]="exitClear.isBuisnessCardRecieved" value="3">N/A
          </div>
        </div>
        <div class="input-container">
          <label>Any Company Items</label>
          <input type="text" [(ngModel)]="exitClear.anyCompanyItem">
        </div>
        <div class="input-container">
          <label>Notice Period (NP) to be served </label>
          <input type="text" [(ngModel)]="exitClear.NoticePeriodToBeServed">
        </div>
        <div class="input-container">
          <label> Notice Period served (NP) </label>
          <input type="text" [(ngModel)]="exitClear.NpServed">
        </div>
        <div class="input-container">
          <label> Shortfall in NP (days) </label>
          <input type="text" [(ngModel)]="exitClear.ShortfallInNP">
        </div>
        <div class="input-container">
          <label> Shortfall to be adjusted </label>
          <input type="text" [(ngModel)]="exitClear.ShortfallAdjusted">
        </div>
        <div class="input-container">
          <label> Shortfall waived off </label>
          <input type="text" [(ngModel)]="exitClear.ShortfallWaivedOff">
        </div>
        <div class="input-container">
          <label> Name of Approving Authority <br>for Waiver of shortfall in NP </label>
          <input type="text" [(ngModel)]="exitClear.WaiverApprovingAut_inNpShortfall">
        </div>
        <div class="input-container">
          <label> Name of HR Professional </label>
          <input type="text" [(ngModel)]="exitClear.HrProfessionalName">
        </div>
      </div>
    </div>
  </div>
</div>