<div id="wrapper">

    <!-- Navigation Menu Get based on Role -->
    <et-sidebar [menuItems]="menuItems" [sidebarTitle]='sidebarTitle'></et-sidebar>
    <!-- End Navigation Area -->
  
    <!-- Content Area -->
    <div id="page-wrapper">
        <et-notification></et-notification>
        <!-- Routed View -->
        
        <div class="template">
            <div class="row">
              <router-outlet></router-outlet>
            </div>
          </div>
  
    </div>
    <!-- End Content Area -->
  
  </div>

