<div class="template">
  <div class="row" style="padding-top:20px;">
    <ul class="list-inline">
      <li>
        <label class="heading-center-15">Report Type</label>
        <et-dropdown [singleSelectData]="reportTypes" (onSelectItem)="onSelectReportType($event)"></et-dropdown>
      </li>
      <li>
        <label class="heading-center-15">Duration</label>
        <et-dropdown [singleSelectData]="duration" (onSelectItem)="onSelectDuration($event)"></et-dropdown>
      </li>

    </ul>
    <ul class="list-inline">
      <li *ngIf="isMonthlyReport">
        <label class="heading-center-15">Month</label>
        <et-dropdown [singleSelectData]="months" (onSelectItem)="onSelectMonth($event)"></et-dropdown>
      </li>
      <li *ngIf="isQuarterlyReport">
        <label class="heading-center-15">Month</label>
        <et-dropdown [singleSelectData]="quarter" (onSelectItem)="onSelectQuarter($event)"></et-dropdown>
      </li>
      <li *ngIf="isYearlyReport">
        <label class="heading-center-15">Year</label>
        <et-dropdown [singleSelectData]="years" (onSelectItem)="onSelectYear($event)"></et-dropdown>
      </li>
      <li>
        <input type="button" value="Generate Report" (click)="generateReport()" />
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="column">
      <div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <etm-spinner [showSpinner]="showSpinner"></etm-spinner>
          <div class="panel-body" *ngIf="!showSpinner">
            <nvd3 [options]="pieChartOptions" [data]="pieChartData"></nvd3>
          </div>
        </div>
      </div>
    </div>
    <div class="column" >
      <div *ngIf="isQuarterlyReport">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <etm-spinner [showSpinner]="showSpinner"></etm-spinner>
          <div class="panel-body">
            <nvd3 [options]="lineChartOptions" [data]="lineChartData"></nvd3>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>