<!-- <pp-spinner *ngIf="showSpinner" size="medium"></pp-spinner> -->
<div class="input-container">
    <label>Team Name</label>
    <input type="text" [(ngModel)]="team.name">
</div>
<div class="input-container">
    <label>Project</label>
    <select (change)="selectProjectItem($event.target.value)">
        <option value="0">--Select Project--</option>
        <option *ngFor="let c of projects" value={{c.id}}>
          {{c.name}}
        </option>
      </select>
</div>
<div class="input-container">
    <label>Setup Date</label>
    <input type="date" [(ngModel)]="team.setupDate">
</div>
