/* A dark translucent div that covers the whole screen */
.overlay {
	position: fixed;
   /*it was absolute*/
	z-index: 10007;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}
.dialog {
   /* A centered div above the overlay with a box shadow. */
	z-index: 10010;
	position: fixed;
	max-height: calc(100vh - 20px);
	max-width: calc(100vw - 20px);
	display: flex;
   /* Default */
   /* Center the dialog */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	background-color: #ebecf0;
	box-shadow: 4px 4px 80px black;
}
.dialog-content-title {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 22px;
	color: #0c5e8c;
	line-height: 20px;
	font-weight: normal;
}
.dialog-content {
	padding: 30px;
	text-align: left;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.dialog-content-body {
	overflow: auto;
	width: 100%;
	height: 100%;
	min-height: 30px;
}
.full-content-body-height {
	height: 100%;
}
.close {
	position: absolute;
	top: 20px;
	right: 20px;
}
.close p {
	font-weight: bold;
	margin: 0;
	white-space: nowrap;
}
.close div.popup-actions {
	display: inline-flex;
}
.close-icon {
	cursor: pointer;
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
}
.modal-window-actions {
	display: block;
	min-height: 30px;
	text-align: right;
	margin-top: 30px;
}
.modal-window-actions > *:not(:first-child) {
	margin-left: 7px;
}
.modal-window-actions .cancel {
	margin-left: 0;
}
.cancel {
	display: inline;
	position: relative;
}
.cancel-popup {
	position: absolute;
	right: -295px;
	top: -135px;
	width: 275px;
}
.cancel-popup p {
	font-weight: bold;
	margin: 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   /* IE10+ CSS styles go here */
	.cancel-popup {
		top: -150px;
   }
}
/* sizes */
.dialog.small {
	width: 400px;
	min-width: 400px;
}
.dialog.medium {
	width: 600px;
	min-width: 600px;
}
.dialog.large {
	width: 800px;
	min-width: 800px;
}
/* xlarge : for removing horizontal scroll bar from modal window when displaying grid */
.dialog.xlarge {
	width: 1000px;
	min-width: 1000px;
}
.dialog.fullscreen {
	transform: none;
	-webkit-transform: none;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	width: auto;
}
.button-space {
	margin-left: 10px;
}
.primary {
	background-color: #ebecf0;
}
.secondary {
	background-color: white;
}
